
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    font-size: 4vh;
    -ms-overflow-style: none;
    overflow-x:hidden;
}
body::-webkit-scrollbar {
    display: none;
}
#headerBackgroundBox {
    background-color: #3a5390;
    width: 100vw;
    height: 30vh;
}
#headerName {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    margin: 0;
    position: absolute;
}

.Dropline {
    width: 20vw;
    height: 14vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5vh;
    font-size: 4vh;
    font-family: S-CoreDream-3Light;
    position: relative;
}

.Dropline:first-child{
    width: auto;
}
.Dropline:last-child {
    width: auto;
}
.Drop {
}

#p1 {
    float: right;
    text-align-last: end;
}
#p2 {
    clear: right;
    margin-left: 60vw;
}
#p3 {
    margin-left: 40vw;
}
#p4 {
    margin-left: 20vw;
}

#p5 {
    display: inline-block;
}

.drop_ani {
    position:relative;
    transform: translateY(130vh);
    transition-property: all;
    transition-duration: 2s;
}

.bounce_ani {
    top: 130vh;
    animation: 2s undefined-easeInBounce forwards;
}

@keyframes undefined-easeInBounce {
    0% {
        transform: translate(0%, 0%);
    }

    3% {
        transform: translate(-32%, -160%);
    }

    4% {
        transform: translate(-36%, -142%);
    }

    8% {
        transform: translate(-41%, -90%);
    }

    18% {
        transform: translate(-45%, -3%);
    }

    26% {
        transform: translate(-90%, -40%);
    }

    46% {
        transform: translate(-126%, -3%);
    }

    64% {
        transform: translate(-136%,-10%);
    }

    76% {
        transform: translate(-167%, -0.66%);
    }

    88% {
        transform: translate(-176%, -1%);
    }

    100% {
        transform: translate(-180%, 0%);
    }

}

.TrapezoidBackgroundTriangle {
    width: 0;
    height: 0;
    border-bottom: 35vh solid #3a5390;
    border-left: 100vw solid transparent;
}

.TrapezoidBackgroundSquare {
    width: 100vw;
    height: 35vh;
    background-color: #3a5390;

}
.TrapezoidBackground {
    z-index: -1;
    position: absolute;
}

#Trapezoid {
    margin-top: 17.5vh;
    display: flex;
    justify-content: center;
    color: white;
    transform-origin: 50% 50%;

}

@media ( orientation: landscape) {
    #headerName {
        font-size: 14vh;
        top: 18vh;
        left: 15vw;
    }
}

@media ( orientation: portrait) and (max-width: 400px){
    #headerName {
        font-size: 10vh;
        top: 22vh;
        left: 10vw;
    }
    .Dropline {
        font-size: 3vh;
    }
}

@media ( orientation: portrait) {
    #headerName {
        font-size: 10vh;
        top: 22vh;
        left: 10vw;
    }
    .Dropline {
        font-size: 3vh;
    }
}